.page-header {
    /*background-color: #C25100;*/
    /*color: #000;*/
    position: fixed;
    top: 0px;
    /*padding: 20px 20px 20px 40px;*/
}

.navbar-default {
    position: fixed;
}

.content {
    /*position: relative;*/
    /*z-index: -1;*/
    margin: 80px auto;
    /*padding-top: 50px;*/
    /*padding-left: 20px;*/
    /*position: static;*/
}

.save {
    float: right;
}
